<div class="footer">
    <div class="nav-lang-container">
        <div class="nav-blocks-container">
            <%- include('nav.ejs', { database: database }) %>
        </div>
        <div class="lang-menu">
            <a href="javascript:void(0)" onclick="changeLanguage('de')">der-die-das<a>|
            <a href="javascript:void(0)" onclick="changeLanguage('en')"> the-the-the</a>
        </div>
    </div>
    <div class="copyright">
        <!-- <a href="/<%= database.language %>/imprint"><%- database.imprint.title %></a> -->
        <%- database.copyright -%>
    </div>
</div>

<script>
    function changeLanguage(lang) {
        var currentPath = window.location.pathname;
        var newPath = "/" + lang + currentPath.substring(3);
        window.location.href = newPath;
    }
</script>
