<div id="footer-front">
    <div class="close-nav-lang-container">
        <div class="close-icon">
            <img id="footer-close-icon" src="/footer/close-icon.png" alt="">
        </div>

        <div class="nav-lang-container">
            <div class="nav-blocks-container">
                <%- include('nav.ejs', { language: language, nav: siteConfig.nav }) %>
            </div>
            
            <div class="lang-menu">
                <a href="javascript:void(0)" onclick="changeLanguage('de')">der-die-das<a>|
                <a href="javascript:void(0)" onclick="changeLanguage('en')"> the-the-the</a>
            </div>

        </div>
    </div>
        <div class="copyright">
            <%- siteConfig.copyright %>
        </div>
</div>

<script>
    function changeLanguage(lang) {
        var currentPath = window.location.pathname;
        var newPath = "/" + lang + currentPath.substring(3);
        window.location.href = newPath;
    }
</script>
