<div class="front-page-block">
  <div class="front-page-block-image-link">
    <a href="/<%= language + block.src  %>">
      <%const duration = (Math.random() * 10 + 10).toFixed(2);%>
      <img src="<%= block.img_src %>">

      <div class=" front-page-block-overlay">
        <p class="front-page-block-title"><%= block.title %></p>
      </div>
    </a>
  </div>
</div>