<div class="project-thumbnail">
  <div class="project-thumbnail-image-link">
    <a href="/<%= language + project.src  %>">
      <img src="<%= project.img_src %>" />
      <div class="project-thumbnail-overlay">
        <p class="project-thumbnail-title"><%= project.title %></p>
        <p class="project-thumbnail-subtitle"><%= project.subtitle %></p>
      </div>
    </a>
  </div>
</div>