<!DOCTYPE html>
<html lang=<%= database.language %>>

<% let title = `${database.title} – Home`%>
<%- include('./partials/head.ejs', { title: title}) %>

<body class="h-100vh">
<div class="layout">
  <div class="category-wrapper">
    <div class="category-content">
      <div id="projects-thumbnails">
          <% let empty = true;
          for (var [key, value] of Object.entries(database.projects)) { 
            if (value.categories.includes(category)) { 
              empty = false;
              %>
            <%- include('./partials/project-thumbnail.ejs', {language: database.language, project: value}) %>
          <%  }
           } 
           if (empty) {
            %>
            <p>Nothing's here yet.</p>
          <%
           } 
           %>
      </div>
    </div>
  </div>
      <%- include('./partials/footer.ejs', { database: database }) %>
</div>
</body>

</html>