<!DOCTYPE html>
<html lang=<%= siteConfig.language %>>

<% let title = `${siteConfig.website_title_short} – ${category}`;%>
<%- include('./partials/head.ejs', { title: title }) %>

<body class="h-100vh">
<div class="layout">
  <div class="category-wrapper">
    <div class="category-content">
      <div id="projects-thumbnails">
          <% let empty = true;
          if (projects.length == 0) { %>
            <p>Nothing's here yet.</p>
          <% } 
          else {
            for (var i = 0; i<projects.length; i++) { %>
              <%- include('./partials/project-thumbnail.ejs', {language: siteConfig.language, project: projects[i]}) %>
            <% }
          } %>

      </div>
    </div>
  </div>
        <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</div>
</body>

</html>