@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

body {
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 100vh;
    background: #f9f7f4;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
}

/*header styles*/

.header {
    width: 100%;
    height: auto;
}

/*nav styles*/

.nav-lang-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex: 1 0 100px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    height: 2em;
    margin: 0;
}

nav li {
    flex: 1 1 0;
    padding-right: 10px;
}

.lang-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* main content */

.wrapper-front {
    width: 100%;
    max-width: 930px;
    min-height: 100%;
}

.footer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer a {
    display: block;
    padding-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-content-div {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
}

.short-about {
    margin-bottom: 10px;
}

#projects-content {
    display: flex;
    text-align: justify;
    padding: 0;
}

.projects-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*project thumbnails*/

.project-thumbnail {
    flex: 0 1 300px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.project-thumbnail a {
    position: relative;
    display: inline-block;
}

.project-thumbnail a img {
    width: 100%;
    display: block;
    opacity: 1;
    border-radius: 8px;
    transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    overflow: hidden;
}

.project-thumbnail-image-link {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-thumbnail-overlay {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #4b4b4b;
    background-color: rgba(233, 233, 233, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.project-thumbnail-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.project-thumbnail-subtitle {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.project-thumbnail:hover img {
    opacity: 0.8;
    transform: scale(1.08);
}

/*projects page styles*/

.wrapper-project {
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
}

.project-header {
    margin-bottom: 15px;
}

.proj-title {
    font-size: 18px;
}

.proj-subtitle {
    font-size: 12px;
}

#project-content {
    flex: 0 1 700px;
    margin-top: 10px;
    padding: 0;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-video,
.vimeo-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-wrapper,
.vimeo-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.youtube-title,
.vimeo-title {
    font-size: 14px;
    margin: 0 0 0.25em 0 !important;
}

.gallery-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.gallery-title {
    font-size: 14px;
    margin: 0 0 0.25em 0 !important;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 100px;
    margin-right: -10px;
}

.gallery-container a {
    flex: 1 0 220px;
    max-height: 300px;
    margin-right: 10px;
    cursor: pointer;
    overflow: hidden;
}

.gallery-container a img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
}

#project-meta {
    flex: 0 0 250px;
    text-align: left;
    padding: 0;
    font-size: 12px;
}

#project-meta p {
    margin: 10px 0 0 0;
}

.proj-description {
    font-size: 12px;
    text-align: justify;
}

.proj-media * {
    margin-bottom: 1em;
}

.proj-media img {
    height: auto;
}

.proj-media img {
    display: block;
    width: 100%;
    height: auto;
}

/*about pages*/

#cv-content {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
}

.cv-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv-thumbnail {
    flex: 0 1 300px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.cv-thumbnail a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.cv-thumbnail a img {
    width: 100%;
    display: block;
    opacity: 1;
    border-radius: 8px;
    transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    overflow: hidden;
}

.cv-thumbnail-image-link {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cv-thumbnail-overlay {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #4b4b4b;
    background-color: rgba(233, 233, 233, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.cv-thumbnail-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.cv-thumbnail:hover img {
    opacity: 0.8;
    transform: scale(1.08);
}

/*about-1*/

.cv1 {
    flex: 0 1 700px;
    text-align: justify;
    padding: 0;
    margin-top: 10px;
}

/*about-2*/

.cv2 {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

/*table cells*/

.cv2-table-container {
    display: table;
    width: 100%;
}

.cv2-table-row {
    display: table-row;
}

.cv2-table-cell {
    display: table-cell;
    width: 50%;
}

.cv2-when {
    font-weight: 600;
    vertical-align: top;
}

.cv2-when,
.cv2-what {
    padding-bottom: 1em;
}

/*imprint page*/

.imprint-title {
    font-size: 18px;
}

.imprint {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

/*events page*/

.events-title {
    font-size: 18px;
}

.events {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

.event {
    margin: 0 0 20px 0;
}

.event .datetime {
    margin: 0;
}

.event .date {
    margin: 0;
}

.event .time {
    margin: 0;
}

.event .venue {
    margin: 0;
}

.event .title {
    margin: 0;
}

.event .subtitle {
    margin: 0;
}

.event .collab {
    margin: 0;
}

.event .description {
    margin: 0;
}

.event .extra {
    margin: 0;
}

.event .link {
    margin: 0;
}

.past {
    color: gray;
}

.past a {
    color: rgb(143, 143, 255);
}

.with-comma::after {
    content: ",";
}

/*sand page*/

.sand-title {
    font-size: 18px;
}

.sand-content {
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.sand-entry {
    margin: 0 0 30px 0;
}

.sand-entry .title {
    margin: 0 0 2px 0;
    font-size: 14px;
}

.sand-entry .meta {
    margin: 0 0 8px 0;
    font-size: 11px;
}

.sand-entry .meta .datetime {
    margin: 0;
}

.sand-entry .meta .date {
    margin: 0;
}

.sand-entry .meta .time {
    margin: 0;
}

.sand-entry .content {
    margin: 0;
    hyphens: auto;
}

/*contact page*/
.contact-title {
    font-size: 18px;
}

.contact {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

/*for screens less than 932px*/

@media screen and (max-width: 962px) {
    .projects-flex-container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px) {
    .cv2-table-row {
        display: block;
    }

    .cv2-table-cell {
        display: block;
        width: 100%;
        border: none;
    }

    .cv2-when {
        padding: 0 0 0 0;
    }

    .cv2-what {
        padding: 0 0 3em 0;
    }
}

@media screen and (max-width: 652px) {
    .project-thumbnail {
        flex: 1 1 300px;
    }
}

@media screen and (max-width: 450px) {
    nav ul {
        display: block;
        height: auto;
    }
    .project-thumbnail {
        margin-right: 0;
    }
    .cv-thumbnail {
        flex: 1 1 300px;
        margin-right: 0;
    }
}
