@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*extra classes*/

.m-0 {
    margin: 0 !important;
}

.h-100vh {
    height: 100vh !important;
}

.w-full {
    width: 100% !important;
}

.yh {
    display: inline;
    background-color: orange;
}

/*********************************/
/*         GENERAL CSS           */
/*********************************/
body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* background: rgba(255, 0, 0, 1); */
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: -1;
}

body {
    flex-direction: column;
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    /* margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px; */

    /* padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px; */

    margin: 0;
    height: auto;
    /* background: #f9f7f4; */
    /* background: #1b1818; */
    /* filter: grayscale(); */
    /* background-image: url("/css/paper-background-1.jpg"); */
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

body a {
    color: #000000;
    text-decoration-style: dotted;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
}

.layout {
    height: 100%;
}

/*********************************/
/*        HEADER STYLES          */
/*********************************/

.header {
    width: 100%;
    height: auto;
}

/*********************************/
/*          NAV STYLES           */
/*********************************/

.nav-lang-container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 20px 20px 20px;
    padding-left: 10px;
}

.nav-blocks-container {
    display: flex;
    flex: 1 0 100px;
    max-width: 500;
    justify-content: flex-start;
}

.nav-block-container {
    margin-right: 50px;
    display: block;
}

.nav-block-title {
    display: block;
    margin: 0 0 1em 0;
}

nav {
    justify-content: space-between;
    flex: 1 0 100px;
}

nav ul {
    display: block;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    padding: 0;
    list-style-type: none;
    height: auto;
    margin: 0;
}

nav li {
    /* flex: 1 1 0; */
    padding: 0 0 0 0;
    height: 1.5em;
}

nav li a {
    /* flex: 1 1 0; */
    padding: 0 0 0 0;
}

.lang-menu {
    display: flex;
    padding: 0;
    margin-right: 10px;
    list-style-type: none;
}

/*********************************/
/*        MAIN CONTENT           */
/*********************************/

.wrapper-front {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.short-about {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-content-div {
    width: 100%;
    height: auto;
    font-size: 12px;
    margin: 0px;
}

/*********************************/
/*     FRONT PAGE BLOCKS         */
/*********************************/

/* front page blocks */
#front-page-content {
    height: auto;
    padding: 0;
}

.front-page-block-scroll-hint {
    width: 100%;
    height: auto;
}

.front-page-block {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.front-page-block::-webkit-scrollbar {
    display: none;
}

.front-page-block-image-link {
    width: 100%;
    height: auto;
    line-height: 0; /*to remove 3.5px after the svg layer!*/
}

.front-page-block-image-link img {
    width: 100%;
    height: auto;
}

.front-page-block-overlay {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    /* background-color: rgba(233, 233, 233, 0.6); */
    border-radius: 5px;
    padding: 5px;
}

.front-page-block-title {
    font-optical-sizing: auto;
    font-size: 1vw;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.front-page-block a {
    position: relative;
}

.front-page-block a img {
    width: 100%;
    display: block;
    opacity: 1;
    /* transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1); */
    overflow: hidden;
}

#Layer_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.scroll-hint-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    visibility: hidden;
}

.scroll-hint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 0.9em;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.scroll-hint.hidden {
    opacity: 0;
}

svg a {
    -webkit-tap-highlight-color: transparent;
}

.st0 {
    fill: transparent;
    stroke-width: 2;
    stroke-miterlimit: 20;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.overlay-caption {
    font-size: 24px;
    font-weight: 500;
}

.hover-group:hover .st0,
.hover-group:hover text {
    stroke-width: 2;
    cursor: pointer;
}

/*********************************/
/*            FOOTER             */
/*********************************/

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 20%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    overflow-y: auto;
    border-top: 1.5px solid black;
}

.footer a {
    display: block;
    /* padding-bottom: 10px; */
}

.copyright {
    margin-left: 10px;
    margin-bottom: 10px;
}

/*********************************/
/*        CATEGORY PAGE          */
/*********************************/

/* .category-content-pusher {
    height: 50px !important;
    width: 100%;
} */

/* .category-wrapper {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex: 0 0 80%; 
    overflow-y: auto;
} */

/*for transparent footer*/
.category-wrapper {
    width: 100%;
    /* height: auto; */
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: auto;
}

.category-content {
    width: 80%;
    margin: auto;
    font-size: 12px;
    overflow: hidden;
}

#projects-thumbnails {
    width: 100%;
    display: block;
    text-align: justify;
    padding: 0;
    margin-top: 100px;
    overflow: auto;
}

.projects-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-between;
}

#projects-content {
    display: flex;
    text-align: justify;
    padding: 0;
}

/*********************************/
/*      PORTFOLIO THUMBNAILS     */
/*********************************/

.project-thumbnail {
    /* border: 40px solid black; */
    /* flex: 0 1 200px; */
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 200px;
}

.project-thumbnail-image-link {
    flex: 0 0 100px;
    height: 100%;
}

.project-text-preview {
    flex: 1 0 100px;
    overflow: hidden;
    color: #9f9f9f;
    margin-left: 10px;
    text-align: left;
}

.project-thumbnail a {
    position: relative;
    text-decoration: none;
}

.project-thumbnail-image-wrapper {
    overflow: hidden;
    height: 100%;
    border-radius: 8px;
    /* border: 20px solid black; */
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s cubic-bezier(0.08, 0.43, 0.24, 1); /* smooth effect */
}

.project-thumbnail-image-wrapper:hover {
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.project-thumbnail-image-link img {
    width: auto;
    height: 100%;
    display: block;
    opacity: 1;
    border-radius: 8px;
    /* transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1); */
    /* mix-blend-mode: multiply; */
    /* filter: blur(3px); */
    /* transition: filter 0.5s ease; */
}

.project-thumbnail-meta {
    /* color: #4b4b4b; */
    /* color: #9f9f9f; */
    padding-left: 0px;
    margin-left: 40px;
    margin-top: 3px;
    text-align: left;
    text-transform: uppercase;
}

.project-thumbnail-title {
    font-size: 12px;
    /* color: #525252; */
    color: #000000;
    margin: 0;
}

/* .separator {
    border: none;
    height: 0.5px;
    background-color: #9f9f9f;
    margin: 3px 0 3px 0;
} */

.project-thumbnail-subtitle {
    font-size: 10px;
    color: #3b3b3b;
    font-weight: 400;
    margin: 0;
}

/* .project-thumbnail:hover img {
    opacity: 0.8;
    transform: scale(1.08);
} */

/*********************************/
/*        SINGLE PROJECT PAGE    */
/*********************************/

/* .project-wrapper {
    width: 100%;
    margin-left: 30px;
    max-width: 1000px;
    min-height: 100%;
} */

.project-wrapper {
    width: 100%;
    /* height: auto; */
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex: 0 0 80%; /* fixed height (percentage or px) */
    overflow-y: auto;
}

.project-content {
    width: 80%;
    margin: auto;
    font-size: 12px;
    overflow: hidden;
}

.proj-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

.proj-content-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.proj-title {
    font-size: 18px;
}

.proj-subtitle {
    font-size: 12px;
}

#project-content {
    flex: 0 1 700px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 0;
}

.iframe-container {
    position: relative;

    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-video,
.vimeo-video {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-wrapper,
.vimeo-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.youtube-title,
.vimeo-title {
    font-size: 14px;
    margin: 0 0 0.25em 0 !important;
}

.gallery-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.gallery-title {
    font-size: 14px;
    margin: 0 0 0.25em 0 !important;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 100px;
    margin-right: -10px;
}

.gallery-container a {
    flex: 1 0 220px;
    max-height: 300px;
    margin-right: 10px;
    cursor: pointer;
    overflow: hidden;
}

.gallery-container a img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
}

#project-meta {
    flex: 0 0 250px;
    text-align: left;
    padding: 0;
    font-size: 12px;
}

#project-meta p {
    margin: 10px 0 0 0;
}

.proj-description {
    font-size: 12px;
    text-align: justify;
}

.proj-media {
    width: 100%;
}

.proj-media * {
    margin-bottom: 1em;
}

.proj-media img {
    height: auto;
    border-radius: 10px;
}

.proj-media img {
    display: block;
    width: 100%;
    height: auto;
}

/*********************************/
/*        ABOUT PAGES            */
/*********************************/

.about-wrapper {
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0px;
    background-color: #ff0000;
    overflow-y: auto;
}

.about-content {
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding-bottom: 40px;
    font-size: 12px;
    overflow: hidden;
    background-color: #a50000;
}

/*parent for abouts-flex, so abouts-flex becomes also a flex element */
.abouts-flex-parent {
    display: flex;
}

.abouts-flex-1,
.abouts-flex-2,
.abouts-flex-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abouts-flex-1,
.abouts-flex-3 {
    flex: 0 1 1000px;
}

.abouts-flex-2 {
    flex: 0 1 950px;
}

.about1,
.about2,
.about3,
.about4,
.about5,
.about6,
.about7 {
    height: fit-content;
    border: 0.25px solid rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.5);
    background-color: #ff0000;
    position: relative;
    padding: 0px 1px 1px 1px;
    text-align: justify;
}

.about1 {
    flex: 0 0 300px;
    margin-top: 30px;
    margin-left: 30px;
}

.about2 {
    flex: 0 0 200px;
    margin-top: 150px;
}

.about3 {
    flex: 0 0 300px;
    margin-top: 100px;
}

.about4 {
    flex: 0 0 500px;
    margin-top: 50px;
    margin-left: 80px;
}

.about5 {
    flex: 0 0 300px;
    margin-top: 100px;
    margin-left: 0px;
}

.about6 {
    flex: 0 0 300px;
    margin-top: 60px;
    margin-left: 40px;
}

.about7 {
    flex: 0 0 600px;
    margin-top: 100px;
    margin-left: 40px;
}

#cv-content {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
}

.cv-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv-thumbnail {
    flex: 0 1 300px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.cv-thumbnail a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.cv-thumbnail a img {
    width: 100%;
    display: block;
    opacity: 1;
    border-radius: 8px;
    transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    overflow: hidden;
}

.cv-thumbnail-image-link {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cv-thumbnail-overlay {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #4b4b4b;
    background-color: rgba(233, 233, 233, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.cv-thumbnail-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.cv-thumbnail:hover img {
    opacity: 0.8;
    transform: scale(1.08);
}

/*about-1*/

.cv1 {
    flex: 0 1 700px;
    text-align: justify;
    padding: 0;
    margin-top: 10px;
}

/*about-2*/

.cv2 {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

/*table cells*/

.cv2-table-container {
    display: table;
    width: 100%;
}

.cv2-table-row {
    display: table-row;
}

.cv2-table-cell {
    display: table-cell;
    width: 50%;
}

.cv2-when {
    font-weight: 600;
    vertical-align: top;
}

.cv2-when,
.cv2-what {
    padding-bottom: 1em;
}

/*********************************/
/*            IMPRINT            */
/*********************************/

/* .imprint-title {
    font-size: 18px;
}

.imprint {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
} */

/*********************************/
/*           EVENTS PAGE         */
/*********************************/

.events-title {
    font-size: 18px;
    margin-left: 10px;
}

.events {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.event {
    margin: 0 0 20px 0;
}

.event .datetime {
    margin: 0;
}

.event .date {
    margin: 0;
}

.event .time {
    margin: 0;
}

.event .venue {
    margin: 0;
}

.event .title {
    margin: 0;
}

.event .subtitle {
    margin: 0;
}

.event .collab {
    margin: 0;
}

.event .description {
    margin: 0;
}

.event .extra {
    margin: 0;
}

.event .link {
    margin: 0;
}

.past {
    color: gray;
}

.past a {
    color: rgb(143, 143, 255);
}

.with-comma::after {
    content: ",";
}

/*********************************/
/*            SAND PAGE          */
/*********************************/

.sand-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.sand-description {
    font-size: 12px;
    margin-bottom: 40px;
}

.sand-content {
    flex: 0 1 700px;
    text-align: justify;
    padding: 0;
    word-wrap: break-word;
    hyphens: auto;
}

.sand-entry {
    margin: 0 0 30px 0;
}

.sand-entry .title {
    margin: 0 0 2px 0;
    font-size: 14px;
}

.sand-entry .meta {
    margin: 0 0 8px 0;
    font-size: 11px;
}

.sand-entry .meta .datetime {
    margin: 0;
}

.sand-entry .meta .date {
    margin: 0;
}

.sand-entry .meta .time {
    margin: 0;
}

.sand-entry .content {
    margin: 0;
    hyphens: auto;
}

/*********************************/
/*            CONTACT            */
/*********************************/

.contact-title {
    font-size: 18px;
}

.contact {
    flex: 0 1 700px;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

/*****************************************/
/*       SCREENS SMALLER THAN 963PX      */
/*****************************************/

@media screen and (max-width: 962px) {
    .projects-flex-container {
        justify-content: space-evenly;
    }
}

/*****************************************/
/*       SCREENS SMALLER THAN 840PX      */
/*****************************************/

@media screen and (max-width: 839px) {
    /*parent for abouts-flex, so abouts-flex becomes also a flex element */
    .abouts-flex-parent {
        display: block;
        margin: auto;
    }

    .abouts-flex {
        display: block;
        margin: auto;
    }

    .about1,
    .about2,
    .about3,
    .about4 {
        width: 300px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        height: fit-content;
        /* border: 1px solid rgb(255, 255, 255); */
        border-radius: 8px;
        box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.5);
        background-color: #ff0000;
        position: relative;
        padding: 0px 1px 1px 1px;
        text-align: justify;
    }
}

/*****************************************/
/*       SCREENS SMALLER THAN 769PX      */
/*****************************************/

@media screen and (max-width: 768px) {
    .cv2-table-row {
        display: block;
    }

    .cv2-table-cell {
        display: block;
        width: 100%;
        border: none;
    }

    .cv2-when {
        padding: 0 0 0 0;
    }

    .cv2-what {
        padding: 0 0 3em 0;
    }

    .sand-content {
        width: 100%;
    }
}

/*****************************************/
/*       SCREENS SMALLER THAN 653PX      */
/*****************************************/

@media screen and (max-width: 652px) {
    .project-thumbnail {
        flex: 1 1 300px;
    }
}

/*****************************************/
/*       SCREENS SMALLER THAN 451PX      */
/*****************************************/

@media screen and (max-width: 450px) {
    nav ul {
        display: block;
        height: auto;
    }

    .nav-blocks-container {
        display: block;
    }

    .nav-block-container {
        margin-bottom: 40px;
    }
    #project-content {
        margin-right: 0;
    }

    .project-thumbnail {
        margin-right: 0;
    }

    .cv-thumbnail {
        flex: 1 1 300px;
        margin-right: 0;
    }

    .front-page-block {
        width: 100%;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .front-page-block-image-link img {
        width: auto;
        height: 100vh;
    }

    #Layer_1 {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100vh;
    }

    .scroll-hint-wrapper {
        visibility: visible;
    }

    /*parent for abouts-flex, so abouts-flex becomes also a flex element */
    .abouts-flex-parent {
        display: block;
        margin: auto;
    }

    .abouts-flex {
        display: block;
        margin: auto;
    }

    .about1,
    .about2,
    .about3 {
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        height: fit-content;
        /* border: 1px solid rgb(255, 255, 255); */
        border-radius: 8px;
        box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.5);
        background-color: #ff0000;
        position: relative;
        padding: 0px 1px 1px 1px;
        text-align: justify;
    }
}
